body {
    background: linear-gradient(to right, #7b00ff, #e20d74, #02fff2);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    background-image: url('https://pics.craiyon.com/2023-05-25/91d9db73f1e34e1ea851e2de020834ce.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    padding: 20px;
    margin: 10px;
}

.elements {
    background-color: rgba(251, 251, 251, 0.8);
    margin-left: 10%;
    margin-right: 10%;
    padding: 10%;
    height: 800px;

}

nav {
    display: flex;
    background: linear-gradient(to right, #15ff00, #585855, #000000);
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background: linear-gradient(to right, #7b00ff, #e20d74, #02fff2);
    color: rgb(34, 120, 66);
}

.logo {
    justify-content: left;
    max-width: 5%;
}


.game-fact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



#gameplaySection {
    font-size: 24px;
    text-align: center;
    width: 100%;
    color: #187086
}

.scoreboard {
    font-size: 16px;
    padding: 8px;
    margin: 20px 0;
    background-color: #73a88e;
    color: black;
    font-weight: normal;
    width: 7%;
}

.timer {
    font-size: 16px;
    padding: 8px;
    margin: 10px 0;
    background-color: #73a88e;
    color: black;
    font-weight: normal;
    width: 7%;
}

#userInputSection {
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ead4bc;
    max-width: 400px;
}

form {
    margin: 0;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ef8644;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 12px;
}

input[type="submit"]:hover {
    background-color: #a2c4c9;
}

.img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;

}

.start-button {
    background-color: #ef8644;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #a2c4c9;
}

.game-mode {
    text-align: center;
    font-size: 16px;
    padding: 8px;
    top: 10px;
    margin: auto;
    background-color: #ead4bc;
    color: black;
    width: 20%;
    font-weight: normal;
}

.flash-red {
    animation: flash-red 0.5s;
}

.flash-green {
    animation: flash-green 0.5s;
}

@keyframes flash-red {
    0% {
        background-color: red;
    }

    100% {
        background-color: inherit;
    }
}

@keyframes flash-green {
    0% {
        background-color: green;
    }

    100% {
        background-color: inherit;
    }
}