body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e4eb;
}

header {
    text-align: center;
    padding: 20px;
    color: black;
}

.logo img {
    max-width: 30%;
    height: auto;
}

.welcome-text {
    font-size: 40px;
    margin: 10px 0 20px;
}

#gameModesSection {
    text-align: center;
    margin-top: 20px;
}

.select-game-text {
    font-size: 25px;
    margin-bottom: 20px;
}

.game-buttons {
    display: flex;
    justify-content: center;
}

.game-button {
    background-color: #9d73a8d8;
    width: 13%;
    color: white;
    padding: 25px 5px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(77, 77, 77);
    cursor: pointer;
    margin: 0 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.game-button:hover {
    background-color: #ba46088e;
    transform: scale(1.1);
}

.game-button:active {
    transform: scale(0.9);
}

.lower-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}

.lower-buttons .game-button {
    width: 13%;
    margin: 0 20px;
}