body {
    font-family: 'Mooli', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmVhdXRpZnVsJTIwbGFuZHNjYXBlfGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(233, 235, 228, 0.7);
    z-index: -1;
}


header {
    text-align: center;
    padding: 20px;
    color: black;
}

.logo img {
    max-width: 30%;
    height: auto;
}

.welcome-text {
    font-size: 40px;
    margin: 10px 0 20px;
}

#gameModesSection {
    text-align: center;
    margin-top: 20px;
}

.select-game-text {
    font-size: 25px;
    margin-bottom: 20px;
}

.game-buttons {
    display: flex;
    justify-content: center;
}

.game-button {
    background-color: #7C9D96;
    font-family: 'Mooli', sans-serif;
    width: 13%;
    color: white;
    padding: 25px 5px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(77, 77, 77);
    cursor: pointer;
    margin: 0 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.game-button:hover {
    background-color: #ba46088e;
    transform: scale(1.1);
}

.game-button:active {
    transform: scale(0.9);
}

.lower-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.lower-buttons .game-button {
    width: 13%;
    margin: 0 20px;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bottom-buttons .game-button {
    width: 13%;
    margin: 0 20px;
}

footer {
    background-color: #e89f71;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: -145px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    font-size: large;
}

.footer-logo {
    width: 90px;
    margin-right: 10px;
}

.copyright {
    flex-grow: 1;
    text-align: center;
}

.credits {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}